html, body, main, section{
  background-color: #f6f6f6 !important;
  color: rgb(155, 2, 2) !important;
  font-size: 16px;
}

.main{
  background-color:  #f6f6f6 !important;
}

a, h1, p, span, h3, h2{
  color: rgb(95, 94, 94) ;
}

.profile_pic{
  width: 25vw;
  height: auto;
  margin: 0 auto;
}

.latest-post-tag{
  border-bottom: .5rem solid grey;
  border-radius: .5rem;
  
}

.navbar li, a{
  font-size: 1.2rem !important;
  font-weight: bold;
}

footer{
  color: black;
  letter-spacing: .2rem;
  font-size: 1.5rem;
  font-weight: bold;
  /* background-color: antiquewhite; */
  padding-top: 5rem;
  

}

.navbar-toggler-icon{
  background-color: black !important;
}
.link-outline{
  border: .15rem solid rgb(78, 75, 75);
  border-radius: .3rem;
  
}
.link-outline:hover{
  background-color: rgb(78, 75, 75);
  transition: .5s;
  color: white !important;
  
}
@media only screen and (max-width: 600px) {
  /* body {
    background-color: lightblue !important;
  } */

  .profile_pic{
    width: 50vw !important;
  }
}