html, body, main, section{
  background-color: #fbfbfb !important;
  
  font-size: 16px;
}

.main{
  background-color:  #fbfbfb !important;
}

a, h1, p, span, h3, h2{
  color: rgb(95, 94, 94) ;
}

.profile_pic{
  width: 25vw;
  height: auto;
  margin: 0 auto;
}

.latest-post-tag{
  border-bottom: .5rem solid grey;
  border-radius: .5rem;
  
}

.navbar li, a{
  font-size: 1.2rem !important;
  font-weight: bold;
}

footer{
  color: black;
  letter-spacing: .2rem;
  font-size: 1.5rem;
  font-weight: bold;
  /* background-color: antiquewhite; */
  padding-top: 5rem;
  padding-bottom: 2.5rem;
  

}

.navbar-toggler-icon{
  background-color: black !important;
}
.link-outline{
  border: .15rem solid rgb(78, 75, 75);
  border-radius: .3rem;
  
}

.bg-img{
  height: 40vh !important;

  background-image: url(https://images.unsplash.com/photo-1510472306330-201b18c210fc?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  

}
.link-outline:hover{
  background-color: rgb(78, 75, 75);
  transition: .5s;
  color: white !important;
  
}

.date-adj{

  /* background-color: aqua; */
  padding: 1rem;

}

.blog-end-dot{
  font-size: 4.5rem;
}

.blog-edit-btn{
  width: 50%;
  display: flex;
  padding-bottom: 3rem;
  justify-content: space-evenly;
  align-items: flex-end;
  /* background-color: aquamarine ; */
}

.edit-btn{
  background-color: black !important;
  color: white !important;
  border-radius: .3rem;
}


.new-post-btn{
  margin: 2rem 0;
}


.new-post-btn:hover{
  background-color: #5bc0de !important;
  color: #ffffff !important;
  transition: .3s;

}

.center-element{
  height: 120vh;
  width: 99.2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color: lavender; */
}

.center{
  display: flex;
  justify-self: center;
  align-self: center;
}

.form-adj{
  
  /* background-color: blue !important; */
  /* height: auto; */
  min-height:65vh;
  width: 80vw;
  
  
}

.profile{
  position: relative;
}

.avatar1{
  /* background-color: aquamarine; */
  width: 20vh;
  height: auto;
  margin: 0 auto;
  bottom: 6rem !important;
  position: relative;


}


.name{
  /* background-color: azure !important; */
  
  bottom: 4rem !important;
  font-size: 2.5rem !important;
  position: relative;
}

.card{
  width: 100% !important;
}
.card-profile{
  margin: 6rem 0;
}

.card-header{
  display: flex;
  justify-content: space-between;
  /* background: #f0ebeb;   */
  background-image: url(https://images.unsplash.com/photo-1561211974-8a2737b4dcac?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1350&q=80);
  background-size: cover;
  /* fallback for old browsers */
  /* background: -webkit-linear-gradient(to right, #ffffff, #aed3e2);  /* Chrome 10-25, Safari 5.1-6 */
  /* background: linear-gradient(to right, #ffffff, #aed3e2); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ */

  
}


.profile-card-icon{
  width: 13vh;
  height: 13vh;
  
  overflow: hidden;
  background-color: #ffffff;
  background-position: center;
  background-size: contain !important;
  /* background-image: url(https://headstart.in/themes/headstart/images/logo.png); */
  background-repeat: no-repeat;
  border-radius: .3rem;
  
  /* box-sizing: border-box;
  padding: 0 5rem !important; */
  /* background-color: #f6f6f6 !important; */
}


.profile-meta{
  /* background-color: aqua; */
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  
}

.profile-logo{
  background-size: contain !important;
}

.card-title{
  font-size: 2rem;
  background-color: white;
  border-radius: 0 1rem 0 0;
  padding: .2rem;
  padding-right: 1rem;
  
}
/* .strikeout {
  font-size: 3em;
  line-height: 1em;
  position: relative;
}
.strikeout::after {
  border-bottom: 0.335em solid rgb(240, 136, 38);
  
  opacity: .7;
  z-index: 0;
  content: "";
  left: 0;
  margin-top: calc(0.0rem / 3 * -1);
  position: absolute;
  right: 0;
  top: 60%;
} */

.card-body{
  padding-top: 4rem !important;
}

.profile-tabs{
  /* background-color: #5bc0de; */

  width: 31vw;
  /* margin: 0 auto !important; */
}
.nav-item{
  padding: 0 .5rem;
  
}

.col-change:focus{
  /* background-color:#3B444F !important; */
  background-color:#141414 !important;
  color: white !important;
  
  /* When the animation is finished, start again */

}
.col-change:hover{
  /* background-color:#3B444F !important; */
  background-color:#141414 !important;
  color: white !important;
  /* background-image: url(https://images.unsplash.com/photo-1591770577460-f10fb2a86527?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MzF8fGJsYWNrJTIwbGlnaHR8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
  background-size: contain; */
  /* When the animation is finished, start again */
  /* animation-iteration-count: infinite;
  animation: shake .5s; */
  
}


/* 
@keyframes shake {
0% { transform: translate(1px, 1px) rotate(0deg); }
10% { transform: translate(-1px, -2px) rotate(-1deg); }
30% { transform: translate(1px, 0px) rotate(0deg); }
40% { transform: translate(1px, -1px) rotate(1deg); }
50% { transform: translate(-1px, 1px) rotate(-.1deg); }
60% { transform: translate(-2px, 1px) rotate(0deg); }
70% { transform: translate(2px, 1px) rotate(-.1deg); }
80% { transform: translate(-1px, -1px) rotate(1deg); }
90% { transform: translate(1px, 1px) rotate(0deg); }
100% { transform: translate(1px, -1px) rotate(-1deg); }
} */
/* .login-bg-img{
  background-image: url(https://images.unsplash.com/photo-1477346611705-65d1883cee1e?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1950&q=80);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */
.login-card{
  /* background-color: aqua; */
  
  /* border: .2rem solid white; */
  padding: 2rem;
  width: 25vw;
  /* border-radius: 2rem; */

  
}

.login-form{
  /* background-color: whitesmoke; */
  padding: 4rem 0 ;
}
.login-btn{
  background-color: black;
  border: none;
  color: white;
  padding: 1rem 0;
  /* opacity: .5; */
  border-radius: .3rem;
  width: 100%;
  
}


.login-btn:hover{
 
  cursor: pointer;

}

.ala{
  margin-top: 5rem;
  /* background-color: blue; */
  /* height: 70vh;
  width: 90vw; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.create_profile_card{
  margin: 2rem 0 ;
  /* background-color: blueviolet !important; */
  width: 100%;
  height: 2rem;
}

.blog-title-create input{
  width: 100%;
  /* padding: 2rem; */
  /* background-color: burlywood !important; */
  vertical-align:bottom;
  outline: none !important;
  border: none !important;
  border-bottom: .3rem solid black !important ;
  
}
.profile_pic{
  width: 15vw;
  height: auto;
}
a, h1,h2,h3,span{
  color: black !important;
}
@media only screen and (max-width: 800px) {
  /* body {
    background-color: lightblue !important;
  } */

  .profile_pic{
    width: 50vw !important;
  }

  .new-post-btn{
    float: none !important;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
}