{% extends 'blog/base.html' %}

{% block content %}
<div class="page-header header-filter clear-filter white-filter bg-img" >
  <div class="container">
    
  </div>
</div>
<div class="main main-raised">
    
  <div class="section section-basic">
    <div class="container">
      <div>
        
        <div class="container">
          <h1 class="brand text-center">{{ post.Title }}</h1>
          <p class="text-center date-adj">{{ post.Date|date:'M d, Y' }}</p>
          {% if user.is_authenticated %}
          
        {% endif %}
          {{ post.Content|safe }}
          <h1 class="text-center blog-end-dot">. . .</h1>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}