{% extends 'blog/base.html' %}

{% block content %}

    <h1>Home page</h1>

    {% for post in posts %}
    <article class="media content-section">
        <div class="media-body">
          <div class="article-metadata">
            <small class="text-muted">Created on {{ post.Date|date:'M d, Y' }}</small>
            <br>
            <small class="text-muted">Last Modified on {{ post.Last_Modified|date:'M d, Y'  }}</small>
          </div>
          <h2><a class="article-title" href="#">{{ post.Title }}</a></h2>
          <p class="article-content">{{ post.Content }}</p>
        </div>
      </article>
      
        <!-- <h1>{{ post.title }}</h1>
        <h2>{{ post.date }}</h2>
        <p>{{ post.content }}</p> -->
    {% endfor %}

{% endblock content %}