{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    
    <div class="center-element login-bg-img" >
        <div class="login-card">
            <img src="https://shubhamvyas.com/images/circle-cropped-bw.webp" alt="shubham" class="profile_pic center">
            <form method="POST" class="login-form">
                {% csrf_token %}
                <fieldset class="form-group">
                    
                    {{ form|crispy }}
                    <div class="form-group">
                        <button class="login-btn" type="submit">Login</button>
                    </div>
                </fieldset>
                <div class='border-top pt-3'>
                    <small class="text-muted">Forgot Password? <a href="{% url 'password_reset_view' %}">Reset Now</a></small>
                </div>
            </form>

           
             </div>
    </div>

{% endblock %}
